* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}
:root {
	--opacity: 0.2;
	--blur: 5px;
}
body {
	background: linear-gradient(45deg, rgba(255, 255, 0,var(--opacity)),rgba(255, 255, 0,var(--opacity))),url(./assets/images/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color:white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
	/* outline:1px solid green; */
	color:inherit;
}
header{
	justify-self: flex-start;
	font-size: 3rem;
	margin:2rem;
}
main{
	display: flex;
	gap:30px;
	flex-wrap: wrap;
}

.container {
	background: rgba(255,255,255,0.2);
	-webkit-backdrop-filter: blur(var(--blur));
	backdrop-filter: blur(var(--blur));
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 20px;
}
form {
	display: flex;
	flex-direction: column;
}
.input{
	position:relative;
	display: flex;
	flex-direction: column;
	font-size: 40px;
}
.input  label {
	color: rgba(128,128,128,0.8);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	position: absolute;
	top:9px;
	left: 25px;
	z-index: 1;
	pointer-events: none;
	transition: ease-in-out 0.3s;
	background-color:transparent;
	font-size: 1.25rem;
}

 .input input{
	background-color: transparent;
	border: 1px solid yellow;
	border-radius: 20px;
	font-size: 1rem;
	outline:none;
	padding:12px 20px;
	margin: 1rem;
	width:300px;
}

input:focus+label {
	top:-18px;
	left:15px;
	transform: scale(0.75);
}

input:valid+label {
	top:-18px;
	left:15px;
	color: black;
	transform: scale(0.75);
}

.input * {
	margin:1rem 0;
}
.container form {
	margin:1rem;
}

#login-btn,#register-btn {
}